/ayush.txt
/college.txt
/negative.txt
/question1.c
/question1.exe
/question10.c
/question10.exe
/question100.c
/question100.exe
/question101.c
/question101.exe
/question102.c
/question102.exe
/question103.c
/question103.exe
/question104.c
/question104.exe
/question105.c
/question105.exe
/question106.c
/question106.exe
/question107.c
/question108.c
/question108.exe
/question109.c
/question109.exe
/question110.c
/question110.exe
/question111.c
/question111.exe
/question15.c
/question15.exe
/question16.c
/question16.exe
/question17.c
/question17.exe
/question18.c
/question18.exe
/question19.c
/question19.exe
/question2.c
/question2.exe
/question20.c
/question20.exe
/question21.c
/question21.exe
/question22.c
/question22.exe
/question23.c
/question23.exe
/question24.c
/question24.exe
/question25.c
/question25.exe
/question26.c
/question26.exe
/question27.c
/question27.exe
/question28.c
/question28.exe
/question29.c
/question29.exe
/question3.c
/question3.exe
/question30.c
/question30.exe
/question31.c
/question31.exe
/question32.c
/question32.exe
/question33.c
/question33.exe
/question34.c
/question34.exe
/question35.c
/question35.exe
/question36.c
/question36.exe
/question37.c
/question37.exe
/question38.c
/question38.exe
/question39.c
/question39.exe
/Question4.c
/question4.exe
/question40.c
/question40.exe
/question41.c
/question41.exe
/question42.c
/question42.exe
/question43.c
/question43.exe
/question44.c
/question44.exe
/question45.c
/question45.exe
/question45a.c
/question45a.exe
/question46.c
/question46.exe
/question47.c
/question5.c
/question5.exe
/question6.c
/question6.exe
/question66.c
/question66.exe
/question67.c
/question67.exe
/question68.c
/question68.exe
/question69.c
/question69.exe
/question7.c
/question7.exe
/question70.c
/question70.exe
/question71.c
/question71.exe
/question72.c
/question72.exe
/question73.c
/question73.exe
/question74.c
/question74.exe
/question75.c
/question75.exe
/question76.c
/question76.exe
/question77.c
/question77.exe
/question78.c
/question78.exe
/question79.c
/question79.exe
/question8.c
/question8.exe
/question80.c
/question80.exe
/question81.c
/question81.exe
/question82.c
/question82.exe
/question83.c
/question83.exe
/question84.c
/question84.exe
/question85.c
/question85.exe
/question86.c
/question86.exe
/question87.c
/question87.exe
/question88.c
/question88.exe
/question89.c
/question89.exe
/question9.c
/question9.exe
/question90.c
/question90.exe
/question91.c
/question91.exe
/question95.c
/question95.exe
/question96.c
/question96.exe
/question97.c
/question97.exe
/question98.c
/question98.exe
/question99.c
/question99.exe